<a href="https://colab.research.google.com/github/anyfish/pandas_numpy/blob/main/10_aggregation_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df = sns.load_dataset('diamonds')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [ ]:
# Obtenemos la media de las categorias en la caracteristica "cut"
df.groupby('cut').mean()

              carat      depth      table  ...         x         y         z
cut                                        ...
Ideal      0.702837  61.709401  55.951668  ...  5.507451  5.520080  3.401448
Premium    0.891955  61.264673  58.746095  ...  5.973887  5.944879  3.647124
Very Good  0.806381  61.818275  57.956150  ...  5.740696  5.770026  3.559801
Good       0.849185  62.365879  58.694639  ...  5.838785  5.850744  3.639507
Fair       1.046137  64.041677  59.053789  ...  6.246894  6.182652  3.982770

[5 rows x 7 columns]

In [ ]:
# Obtenemos la mediana de las categorias en la caracteristica "cut"
df.groupby('cut').median()

           carat  depth  table   price      x     y     z
cut
Ideal       0.54   61.8   56.0  1810.0  5.250  5.26  3.23
Premium     0.86   61.4   59.0  3185.0  6.110  6.06  3.72
Very Good   0.71   62.1   58.0  2648.0  5.740  5.77  3.56
Good        0.82   63.4   58.0  3050.5  5.980  5.99  3.70
Fair        1.00   65.0   58.0  3282.0  6.175  6.10  3.97

In [ ]:
# Obtenemos la suma de todos los valores que son categorias en "cut" y que tambien estan en la columna "carat"
df.groupby('cut')['carat'].sum()

cut
Ideal        15146.84
Premium      12300.95
Very Good     9742.70
Good          4166.10
Fair          1684.28
Name: carat, dtype: float64

In [ ]:
# Obtenemos la número de elementoss que son categorias en "cut" y que tambien estan en la columna "carat"
df.groupby('cut')['carat'].count()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: carat, dtype: int64

In [ ]:
# Los groupby se pueden iterar
for key_group, group in df.groupby('cut'):
  grouped_price = group['price'].mean()

  print(f'Cut: {key_group}, Price: {grouped_price}\n')

Cut: Ideal, Price: 3457.541970210199

Cut: Premium, Price: 4584.2577042999055

Cut: Very Good, Price: 3981.7598907465654

Cut: Good, Price: 3928.864451691806

Cut: Fair, Price: 4358.757763975155

In [ ]:
# Un groupby con multi indice que intercepta con la media de los valores en "Price"
# to_frame() .:. convertir los datos en un dataframe
df.groupby(['cut', 'color'])['price'].mean().to_frame()

                       price
cut       color
Ideal     D      2629.094566
          E      2597.550090
          F      3374.939362
          G      3720.706388
          H      3889.334831
          I      4451.970377
          J      4918.186384
Premium   D      3631.292576
          E      3538.914420
          F      4324.890176
          G      4500.742134
          H      5216.706780
          I      5946.180672
          J      6294.591584
Very Good D      3470.467284
          E      3214.652083
          F      3778.820240
          G      3872.753806
          H      4535.390351
          I      5255.879568
          J      5103.513274
Good      D      3405.382175
          E      3423.644159
          F      3495.750275
          G      4123.482204
          H      4276.254986
          I      5078.532567
          J      4574.172638
Fair      D      4291.061350
          E      3682.312500
          F      3827.003205
          G      4239.254777
          H      5135.683168
          I      4685.445714
          J      4975.655462

In [ ]:
# Con aggregate podemos agregar columnas a un dataframe
# Las columnas pueden ser haciendo diferentes acciones
df.groupby(['cut', 'color'])['price'].aggregate(['min', np.mean, max])

                 min         mean    max
cut       color
Ideal     D      367  2629.094566  18693
          E      326  2597.550090  18729
          F      408  3374.939362  18780
          G      361  3720.706388  18806
          H      357  3889.334831  18760
          I      348  4451.970377  18779
          J      340  4918.186384  18508
Premium   D      367  3631.292576  18575
          E      326  3538.914420  18477
          F      342  4324.890176  18791
          G      382  4500.742134  18741
          H      368  5216.706780  18795
          I      334  5946.180672  18823
          J      363  6294.591584  18710
Very Good D      357  3470.467284  18542
          E      352  3214.652083  18731
          F      357  3778.820240  18777
          G      354  3872.753806  18818
          H      337  4535.390351  18803
          I      336  5255.879568  18500
          J      336  5103.513274  18430
Good      D      361  3405.382175  18468
          E      327  3423.644159  18236
          F      357  3495.750275  18686
          G      394  4123.482204  18788
          H      368  4276.254986  18640
          I      351  5078.532567  18707
          J      335  4574.172638  18325
Fair      D      536  4291.061350  16386
          E      337  3682.312500  15584
          F      496  3827.003205  17995
          G      369  4239.254777  18574
          H      659  5135.683168  18565
          I      735  4685.445714  18242
          J      416  4975.655462  18531

In [ ]:
def mean_kilo(x):
  return np.mean(x)/200

In [ ]:
# Con agregate se puede aplicar la accion de una función como columna
df.groupby(['cut', 'color'])['price'].aggregate(['min', np.mean, max, mean_kilo]).head(10)

               min         mean    max  mean_kilo
cut     color
Ideal   D      367  2629.094566  18693  13.145473
        E      326  2597.550090  18729  12.987750
        F      408  3374.939362  18780  16.874697
        G      361  3720.706388  18806  18.603532
        H      357  3889.334831  18760  19.446674
        I      348  4451.970377  18779  22.259852
        J      340  4918.186384  18508  24.590932
Premium D      367  3631.292576  18575  18.156463
        E      326  3538.914420  18477  17.694572
        F      342  4324.890176  18791  21.624451

In [ ]:
# Las columnas se pueden agregar por un diccionario
# Con funciones internas
dict_agg = {'carat':[min, max], 'price':[np.mean, mean_kilo]}
dict_agg

{'carat': [<function min>, <function max>],
 'price': [<function numpy.mean>, <function __main__.mean_kilo>]}

In [ ]:
# Uso de groupby y diccionario
df.groupby(['cut','color']).aggregate(dict_agg)

                carat              price
                  min   max         mean  mean_kilo
cut       color
Ideal     D      0.20  2.75  2629.094566  13.145473
          E      0.20  2.28  2597.550090  12.987750
          F      0.23  2.45  3374.939362  16.874697
          G      0.23  2.54  3720.706388  18.603532
          H      0.23  3.50  3889.334831  19.446674
          I      0.23  3.22  4451.970377  22.259852
          J      0.23  3.01  4918.186384  24.590932
Premium   D      0.20  2.57  3631.292576  18.156463
          E      0.20  3.05  3538.914420  17.694572
          F      0.20  3.01  4324.890176  21.624451
          G      0.23  3.01  4500.742134  22.503711
          H      0.23  3.24  5216.706780  26.083534
          I      0.23  4.01  5946.180672  29.730903
          J      0.30  4.01  6294.591584  31.472958
Very Good D      0.23  2.58  3470.467284  17.352336
          E      0.20  2.51  3214.652083  16.073260
          F      0.23  2.48  3778.820240  18.894101
          G      0.23  2.52  3872.753806  19.363769
          H      0.23  3.00  4535.390351  22.676952
          I      0.24  4.00  5255.879568  26.279398
          J      0.24  2.74  5103.513274  25.517566
Good      D      0.23  2.04  3405.382175  17.026911
          E      0.23  3.00  3423.644159  17.118221
          F      0.23  2.67  3495.750275  17.478751
          G      0.23  2.80  4123.482204  20.617411
          H      0.25  3.01  4276.254986  21.381275
          I      0.30  3.01  5078.532567  25.392663
          J      0.28  3.00  4574.172638  22.870863
Fair      D      0.25  3.40  4291.061350  21.455307
          E      0.22  2.04  3682.312500  18.411562
          F      0.25  2.58  3827.003205  19.135016
          G      0.23  2.60  4239.254777  21.196274
          H      0.33  4.13  5135.683168  25.678416
          I      0.41  3.02  4685.445714  23.427229
          J      0.30  5.01  4975.655462  24.878277

In [ ]:
def f_filter(x):
  return mean_kilo(x['price'])>4

In [ ]:
# Uso de filtro sobre un groupby y tener información especifica
df.groupby('cut').filter(f_filter)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [ ]:
df.groupby('cut').filter(f_filter)['cut'].unique()

['Ideal', 'Premium', 'Good', 'Very Good', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']