<a href="https://colab.research.google.com/github/anyfish/pandas_numpy/blob/main/3_save_and_load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd '/content/drive/My Drive/Colab Notebooks/'

/content/drive/My Drive/Colab Notebooks

In [ ]:
!ls

'AI Lab School'
'Clase de Juana'
'Copia de 20211110_CNN_for_image_classification (1).ipynb'
'Copia de 20211110_CNN_for_image_classification.ipynb'
 CursoPlatziPandas
'Cursos YT'
 dedo
 introduccion_colab_live-1_cf5687f8-507d-4552-a0f6-34a5691db474.ipynb
 ManualdePANDAS_aprendeconalf.ipynb

In [ ]:
!mkdir '/content/drive/My Drive/Colab Notebooks/CursoPlatziPandas/queso'

In [ ]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/CursoPlatziPandas/db/{}'.format('test.xls')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/CursoPlatziPandas/db/test.xls'

In [ ]:
import pandas as pd
import numpy as np
pd.__version__

'1.3.5'

In [ ]:
dict_data = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}

dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [ ]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/CursoPlatziPandas/db/{}'.format('test.xls')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/CursoPlatziPandas/db/test.xls'

In [ ]:
df.to_csv(dir_pandas, index=False)

In [ ]:
!ls '/content/drive/My Drive/Colab Notebooks/CursoPlatziPandas/db'

test.xls

In [ ]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/CursoPlatziPandas/db/test.xls', sep='|')
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
df.to_csv(dir_pandas, sep = '|', index=False)